<%= form_with(model: chatlist) do |form| %>
  <% if chatlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chatlist.errors.count, "error") %> prohibited this chatlist from being saved:</h2>

      <ul>
        <% chatlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id %>
  </div>

  <div class="field">
    <%= form.label :quited %>
    <%= form.check_box :quited %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
