<p id="notice"><%= notice %></p>

<p>
  <strong>Chat with:</strong>
  <%= @chat.users.ids %>
</p>

<table>
  <tbody>
    <% @chat.messages.each do |message| %>
      <tr>
        <td><%= message.user_id %></td>
        <td><%= message.body %></td>
        <td><%= message.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', chats_path %>
